build/
xcuserdata/
.floo

cross-*.txt
root.tar.gz
roots/

node_modules
app/xtermjs/xterm-dist
app/xtermjs/.cache

subprojects/
!subprojects/*.wrap

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

e2e_out/
.rv64-rootfs-cache/
